<!DOCTYPE html>
<html lang="en">
<head>
         <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="/CSS/Contacts.css"></link>
        <script src='https://kit.fontawesome.com/a076d05399.js'></script>
</head>
<body>
       <img src="../Images/homePicture.jpg" alt="Logo" class="picture">
        <div id="content">
<div id="item"><i class='fab fa-skype' style='font-size:36px;color:blue;'></i><div id="insideItem">Fight..</div></div>
</br>
<div id="item"><i class='fab fa-github' style='font-size:36px;color:black'></i><div id="insideItem"><a href="https://github.com/Valentin9003">GitHub</a></div></div>
</br>
<div id="item"><i class='fas fa-mail-bulk' style='font-size:36px'></i><div id="insideItem">Valio_180@abv.bg</div></div>
</br>
<div id="item"><i class='fas fa-mobile-alt' style='font-size:36px'></i><div id="insideItem">+359894434762</div></div>
</br>
<div id="item"><i class='fab fa-linkedin' style='font-size:36px'></i><a href="https://www.linkedin.com/in/valentin-stoev-592bb4133/"><div id="insideItem">linkedin</div></a></div>
</div>
</body>
</html>